<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="serializePath" value="playerInfo.txt" />
		<add key="encryptKey" value="pR7sF2xK6lO4mN7y" />
		<add key="port" value="7755" />
		<add key="gameLobbyUrl" value="/game-lobby" />
		<add key="gameUrl" value="/game" />
		<add key="gameLobbyChatUrl" value="/game-lobby/chat" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>